.reviewer {

	&__wrapper {
		margin-bottom: 1.5rem;

		&:not(:last-child) {
			border-bottom: 1px solid $grey-lighten-4;
		}
	}

	&__image {
		border: none;
		border-radius: 50%;
		width: 36px;
		height: 36px;
	}

	&__reply-time {
		font-size: 12px;
		font-weight: 600;
		margin-left: .25rem;
		position: relative;
		top: 3px;
		color: $grey-darken-2;
	}

	&__comment {
		padding-left: 40px;
		margin-top: .75rem;
	}
}
